body {
	background:#F7F7FA;
	font-size: 14px;
}

#kinput {
  font-size: 150%;
  box-sizing: border-box;
  width: 95%;
}

.ground {position: absolute; margin-left: 20%;  margin-top: 5%;
	width: 500px; height: 350px;
	border: 1px solid #4A90E2; background: #50E3C2;}

.playGround {position: absolute; margin-left: 230px; margin-top: 50px;
	width: 225px; height: 225px;
	border: 3px solid black; background: white;}

.startPause {position: absolute; margin-left: 240px; margin-top: 285px}

.snakePart {position: absolute; background: darkblue; color: aquamarine; font-size: 8px;
	width: 9px; height: 9px;}

.food {position: absolute; background: white; color: aquamarine; font-size: 8px;
	width: 9px; height: 9px}

.points {position: absolute; margin-left: 240px; margin-top: 20px; color: darkblue; font-size: 18px}
