<!DOCTYPE html>
<html lang="en" ng-app="snakeApp">
<head>
    <meta charset="UTF-8">
    <title>Легендарная змейка</title>
    <link rel="stylesheet" href="css/gameStyles.css" />
</head>
<body ng-controller="snakeController">
    <p> отладка   {{ snake.parts[0].x }}</p>
    <p> отладка   {{ snake.wallConnect}}</p>
    <input ng-keypress="arrowDown($event)" type="text" placeholder="Клавиши нажимать тут" id="kinput">
<div class="ground">
    <div class="points">Счёт: {{ points }}</div>
    <div class="playGround">
        <div class="food" style="background: {{ snake.foodParams[0].color }};
                margin-left:{{ snake.foodParams[0].x }}px; margin-top: {{ snake.foodParams[0]
                .y }}px">
        </div>
        <div ng-repeat="part in snake.parts" class="snakePart"
             style="margin-left:{{ part.x }}px; margin-top: {{ part
            .y }}px">{{ part.id }}</div>
        </div>
    <div class="startPause">
        <button type="button"  data-ng-click="play()">Старт</button>
        <button type="button"  data-ng-click="stop()">Пауза</button>
        <button type="button"  data-ng-click="reset()">Сброс</button>
    </div>


</div>

<script src="js/lib/angular.min.js"></script>
<script src="js/app.js"></script>
<script src="js/controllers/snakeController.js"></script>
<script src="js/services/snakeService.js"></script>
</body>
</html>